#cashFlowContainer {
  border-left: 1px solid #eee;
}

#containerFixed {
  float: left;
  height: 500px;
}
#recordsContainer {
  height: 500px;
  overflow: auto;
}

.income {
  background-color: rgb(81, 220, 121);
}
.expense {
  color: white;
  background-color: rgb(218, 152, 162);
}
